node_modules
.next
out
# Test files
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/__tests__/**/*
**/tests/**/*
/src/lib/test/**/*
**/mocks/**/*
**/fixtures/**/*
**/cypress/**/*
jest.config.js
jest.setup.js