/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/ProjectList.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.ProjectList_projectGrid__5m3NT {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  .ProjectList_projectGrid__5m3NT {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .ProjectList_projectGrid__5m3NT {
    grid-template-columns: repeat(3, 1fr);
  }
}

